<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <div>
        <p>{{success}}</p>
    </div>
    <div>
        <p style="color: black">{{ result }}</p>
    </div>
    <div style="margin-top:150px" class="ui center aligned container">
        <a href="/main" class="ui red button">Neue Anfrage</a>
    </div>
    
</body>
</html>