<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body style="background-color:skyblue">


    <div>
        <h1 style="color:white; font-size: xx-large; margin-top:25px;" class="ui center aligned header">Verbindungsübersicht</h1>
    </div>
    <div>
    
        <h2 style="color:white; font-size: x-large; margin-top:50px;" class="ui center aligned header">Wetterinfo</h2>
        <p style="color: black; background-color: aliceblue; border-style: solid; border-color: aliceblue; border-radius: 20px; padding:20px; margin:25px;">
            {{ result[0]  }}</p>
    </div>

    <div>
    
        <h2 style="color:white; font-size: x-large;" class="ui center aligned header">Verbindung 1</h2>
        <p style="color: black; background-color: aliceblue; border-style: solid; border-color: aliceblue; border-radius: 20px; padding:20px; margin:25px;">
            {{ result[1]  }}</p>
    </div>

    {% if result[2] %}
    <div>
    
        <h2 style="color:white; font-size: x-large;" class="ui center aligned header">Verbindung 2</h2>
        <p style="color: black; background-color: aliceblue; border-style: solid; border-color: aliceblue; border-radius: 20px; padding:20px; margin:25px;">
            {{ result[2]  }}</p>
    </div>

    {% endif %}
   


    <div style="margin-top:150px" class="ui center aligned container">
        <a href="/main" class="ui red button">Neue Anfrage</a>
    </div>
    
</body>
</html>