<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobi App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body style="background-color:skyblue">
    <div style ="margin-top:50px" class="ui container">
    <h1  style="color:white; font-size: xx-large;" class="ui center aligned header"> Willkommen zur Mobi App</h1>
    <div style="margin-top:50px" class="ui center aligned container">
        <form action="/login" method="POST">
            <div class="ui form">
            <div class="field">
            <label style="color:white">Benutzername</label>
            <input type="text" name="username" placeholder="Benutzername">
            </div>
            <div class="field">
            <label style="color:white">Passwort</label>
            <input type="password" name="password" placeholder="Passwort">
            </div>
            <button class="ui button" type="submit">Login</button>
            </div>
            </form>
            </div>

    <a href="/registerform" class="ui red button">Register</a>
    </div>
    </div>

</body>
</html>