{% from "macros/nav.html" import header %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobi App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body style="background-color:skyblue">
    <div style ="margin-top:50px" class="ui container">
    <h1  style="color:white; font-size: xx-large;" class="ui center aligned header"> Mobi App</h1>
    {% for message in get_flashed_messages() %}
    <div class="ui info message">
        <p style="color: red">{{ message }}</p>
    </div>
    {% endfor %}
    <div style="margin-top:50px" class="ui center aligned container">
        <div class="ui header" style="color:white">
            <p>Willkommen {{username}}</p>
    </div>
    
    
    <div style="margin-top:50px" class="ui center aligned container">
        <p style="color:white">Die Mobi App zeigt dir verschiedene alternative Verkehrsverbindungen f&uumlr deine Strecke.
            <br> Bitte gib die Details zu deinem Fahrtwunsch hier ein:</p>
        <form action="/dashboard" method="POST">
            <div class="ui form">
            <div class="field">
            <label style="color:white">Startadresse</label>
            <input type="text" name="start" placeholder="Startadresse">
            </div>
            <div class="field">
            <label style="color:white">Zieladresse</label>
            <input type="text" name="ziel" placeholder="Zieladresse">
            </div>
            <div class="field">
            <label style="color:white">Abfahrtszeit</label>
            <input type="time" name="departure" placeholder="Abfahrtszeit">
            </div>
            <div class="field">
            <label style="color:white">Datum</label>
            <input type="date" name="date" placeholder="Datum">
            </div>
            </div>
            <div style="margin-left:20px; margin-top: 40px;" class="ui left aligned container">
                <div class="grouped fields">
                  <label style="color:white">Welche Verkehrsmittel m&oumlchtest du nutzen?</label>
                  <div class="field">
                    <p>
                    <div class="ui checkbox">
                      <input type="checkbox" name="mode" value="transit">
                      <label>Bahn</label>
                    </div>
                    </p>
                    <p>
                    <div class="ui checkbox">
                        <input type="checkbox" name="mode" value="bus">
                        <label>Bus</label>
                      </div>
                    </p>
                    <p> 
                      <div class="ui checkbox">
                        <input type="checkbox" name="mode" value="driving">
                        <label>Carsharing</label>
                      </div>
                    </p>
                    <p>  
                      <div class="ui checkbox">
                        <input type="checkbox" name="mode" value="bicycling">
                        <label>Fahrrad</label>
                      </div>
                    </p>
                  </div>
                  <br>
                  <button class="ui button" type="submit">Anfrage starten</button>
        </div>
        </form>
        
    </div>
    <div style="margin-top:150px" class="ui center aligned container">
    <a href="/logout" class="ui red button">Logout</a>
    </div>

</body>
</html>