<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobi App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body style="background-color:skyblue">
    <div style ="margin-top:50px" class="ui container">
    <h1  style="color:white; font-size: xx-large;" class="ui center aligned header"> Bitte Leihstation wählen</h1>

    <div style="margin-top:50px" class="ui center aligned container">
        <p style="color:white">
            <br> Bitte wähle eine Fahrrad Leihstation:</p>
        <form action="#" method="POST">
            <select class="ui search dropdown">
                <option name="selection" value="">Station</option>
                <option name="selection" value="KVB Hauptverwaltung">KVB Hauptverwaltung</option>
                <option name="selection" value="Rheinenergie Parkgürtel">Rheinenergie Parkgürtel</option>
                <option name="selection" value="Uni Boulevard">Uni Boulevard</option>
                <option name="selection" value="Neusser Straße / Gürtel">Neusser Straße / Gürtel</option>
                <option name="selection" value="Maritim">Maritim</option>
                <option name="selection" value="Humanwissenschaftliche Fakultät">Humanwissenschaftliche Fakultät</option>
                <option name="selection" value="Mobilstation Severinswall">Mobilstation Severinswall</option>
                <option name="selection" value="Mobilstation Josephstraße">Mobilstation Josephstraße</option>
                <option name="selection" value="Stegerwaldsiedlung">Stegerwaldsiedlung</option>
                <option name="selection" value="Charles-de-Gaulle Platz">Charles-de-Gaulle Platz</option>
                <option name="selection" value="Bahnhof Mülheim">Bahnhof Mülheim</option>
                <option name="selection" value="Seidmacherinnengäßchen">Seidmacherinnengäßchen</option>
                <option name="selection" value="Gürzenich">Gürzenich</option>
                <option name="selection" value="Große Sandkaul">Große Sandkaul</option>
                <option name="selection" value="Marspfortengasse">Marspfortengasse</option>
                <option name="selection" value="Bushaltestelle Niehl - Betriebshof">Bushaltestelle Niehl - Betriebshof</option>
                <option name="selection" value="Bürgerpark Kalk">Bürgerpark Kalk</option>
                <option name="selection" value="Breslauer Str./Benfleetstraße">Breslauer Str./Benfleetstraße</option>
                <option name="selection" value="Feuerbachstraße/Böcklinstr">Feuerbachstraße/Böcklinstr</option>
                <option name="selection" value="(H) Widdersdorf">(H) Widdersdorf</option>
                <option name="selection" value="(H) Lübecker Str">(H) Lübecker Str</option>
                <option name="selection" value="RTL Picassoplatz">RTL Picassoplatz</option>
                <option name="selection" value="Rispenweg/Leinsamenweg">Rispenweg/Leinsamenweg</option>
                <option name="selection" value="(H) Weiden Zentrum">(H) Weiden Zentrum</option>
                <option name="selection" value="Bushaltestelle, Wiener Weg">Bushaltestelle, Wiener Weg</option>
                <option name="selection" value="Birkenallee, Junkersdorf">Birkenallee, Junkersdorf</option>
                <option name="selection" value="Longericher Str/Hansenstraße">Longericher Str/Hansenstraße</option>
                <option name="selection" value="(H) Auguste-Kowalski-Str.">(H) Auguste-Kowalski-Str.</option>
                <option name="selection" value="Bruder-Klaus-Platz">Bruder-Klaus-Platz</option>
                <option name="selection" value="(H) Siedlung Mielenforst">(H) Siedlung Mielenforst</option>
                <option name="selection" value="(H) Buschfeldstr.">(H) Buschfeldstr.</option>
                <option name="selection" value="(H) Im Wirtskamp">(H) Im Wirtskamp</option>
                <option name="selection" value="Johannesweg/Mainweg">Johannesweg/Mainweg</option>
                <option name="selection" value="Adolf-Kober-Straße/Moses-Hess-Straße">Adolf-Kober-Straße/Moses-Hess-Straße</option>
                <option name="selection" value="Düsseldorfer Str./Raumannskaul">Düsseldorfer Str./Raumannskaul</option>
                <option name="selection" value="Holweide S-Bahn">Holweide S-Bahn</option>
                <option name="selection" value="(H) Leuchterstr.">(H) Leuchterstr.</option>
                <option name="selection" value="(H) Odenthaler Str.">(H) Odenthaler Str.</option>
                <option name="selection" value="(H) Maria-Himmelfahrt-Str.">(H) Maria-Himmelfahrt-Str.</option>
                <option name="selection" value="Von-Ketteler-Straße/Heinrich-Brauns-Straße">Von-Ketteler-Straße/Heinrich-Brauns-Straße</option>
                <option name="selection" value="Vogelsanger Markt">Vogelsanger Markt</option>
                <option name="selection" value="Mengenich, Heinrich-Mann-Straße">Mengenich, Heinrich-Mann-Straße</option>
                <option name="selection" value="Butzweiler Hof">Butzweiler Hof</option>
                <option name="selection" value="Westend - Clemens-Hastrich-Straße">Westend - Clemens-Hastrich-Straße</option>
                <option name="selection" value="Obenmarspforten">Obenmarspforten</option>
                <option name="selection" value="Fühlinger See/Stallagsbergweg">Fühlinger See/Stallagsbergweg</option>
                <option name="selection" value="Blumenberg S-Bahn">Blumenberg S-Bahn</option>
                <option name="selection" value="Teufelsbergstraße/Kallbergstraße">Teufelsbergstraße/Kallbergstraße</option>
                <option name="selection" value="(H) Bückebergstr.">(H) Bückebergstr.</option>
                <option name="selection" value="Rösrather Str./Gröppersgasse">Rösrather Str./Gröppersgasse</option>
                <option name="selection" value="Nikolausstr./Ziegeleiweg">Nikolausstr./Ziegeleiweg</option>
                <option name="selection" value="Königsberger Str/Solinger Strasse">Königsberger Str/Solinger Strasse</option>
                <option name="selection" value="(H) Grengel Mauspfad">(H) Grengel Mauspfad</option>
                <option name="selection" value="Lilienweg - Wendehammer">Lilienweg - Wendehammer</option>
                <option name="selection" value="Wahn S-Bahn">Wahn S-Bahn</option>
                <option name="selection" value="Zündorf Ranzeler Str.">Zündorf Ranzeler Str.</option>
                <option name="selection" value="Vor den Feldern/Im Bodesfeld">Vor den Feldern/Im Bodesfeld</option>
                <option name="selection" value="Giesdorfer Str./Krähenweg">Giesdorfer Str./Krähenweg</option>
                <option name="selection" value="(H) Weißer Hauptstraße">(H) Weißer Hauptstraße</option>
                <option name="selection" value="Adolf-Menzel-Str./Lukas-Cranach-Str.">Adolf-Menzel-Str./Lukas-Cranach-Str.</option>
                <option name="selection" value="KAUFLAND Boltensternstraße">KAUFLAND Boltensternstraße</option>
                <option name="selection" value="LIDL Bonner Wall">LIDL Bonner Wall</option>
                <option name="selection" value="WDR Studios Bocklemünd">WDR Studios Bocklemünd</option>
                <option name="selection" value="Bahnhof Mülheim Rückgabestation A">Bahnhof Mülheim Rückgabestation A</option>
                <option name="selection" value="Bahnhof Mülheim Rückgabestation B">Bahnhof Mülheim Rückgabestation B</option>
                <option name="selection" value="LIDL Leyendeckerstraße">LIDL Leyendeckerstraße</option>
                <option name="selection" value="Rückgabestation Wumbo">Rückgabestation Wumbo</option>
                <option name="selection" value="Segro Nord">Segro Nord</option>
                <option name="selection" value="Aldi Bilderstöckchen">Aldi Bilderstöckchen</option>
                <option name="selection" value="Aldi Sürth">Aldi Sürth</option>
                <option vname="selection" alue="Neumarkt Nord Rückgabestation">Neumarkt Nord Rückgabestation</option>
                <option name="selection" value="Neumarkt West Rückgabestation">Neumarkt West Rückgabestation</option>
                <option name="selection" value="Breslauer Platz Rückgabestation A">Breslauer Platz Rückgabestation A</option>
                <option name="selection" value="Breslauer Platz Rückgabestation B">Breslauer Platz Rückgabestation B</option>
                <option name="selection" value="Rudolfplatz Rückgabestation A">Rudolfplatz Rückgabestation A</option>
                <option name="selection" value="Rudolfplatz Rückgabestation B">Rudolfplatz Rückgabestation B</option>
                <option name="selection" value="Rudolfplatz Rückgabestation C">Rudolfplatz Rückgabestation C</option>
                <option name="selection" value="St Andreas Rückgabestation">St Andreas Rückgabestation</option>
                <option name="selection" value="Hst. Junkersdorf (R)">Hst. Junkersdorf (R)</option>
                <option name="selection" value="Hst. Heinrich-Lübke-Ufer (R)">Hst. Heinrich-Lübke-Ufer (R)</option>
                <option name="selection" value="Hst. Bayernthalgürtel (R)">Hst. Bayernthalgürtel (R)</option>
                <option name="selection" value="Hst. Berliner Str. (R)">Hst. Berliner Str. (R)</option>
                <option name="selection" value="Claudius Therme (R)">Claudius Therme (R)</option>
                <option name="selection" value="Bf Longerich">Bf Longerich</option>
                <option name="selection" value="S Volkhovener Weg">S Volkhovener Weg</option>
                <option name="selection" value="S Chorweiler">S Chorweiler</option>
                <option name="selection" value="Bf Lövenich">Bf Lövenich</option>
              </select>



            
                <br><br><button class="ui button" type="submit">Anfrage starten</button>
        </div>
        </form>
        
    </div>
    <div style="margin-top:150px" class="ui center aligned container">
    <a href="/logout" class="ui red button">Logout</a>
    </div>

</body>
</html>